################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/bin/Release
/src/.vs/Pazaak/v15
/.vs
/src/.vs/Pazaak/v16
/src/bin/Debug
